services:
  # Backend API
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: emarket_backend
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
      - DB_URI=mongodb://mongo:27017/emarket_db
      - JWT_SECRET=8cc10252c3b380e9714e77c9791a175199073d684a1255ab7be96160141c17c3370c3a34e3fc6d776741b3da7b033e9a4192b0d97e42ef69905e318218005638
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongo
      - redis
    networks:
      - app-network
    volumes:
      - ./backend/uploads:/app/uploads

  # Frontend React
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: emarket_frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:8000/api
    depends_on:
      - backend
    networks:
      - app-network

  # MongoDB
  mongo:
    image: mongo:latest
    container_name: emarket_mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    restart: always

  # Redis
  redis:
    image: redis:7-alpine
    container_name: emarket_redis
    ports:
      - "6379:6379"
    networks:
      - app-network
    restart: always

  # MongoDB Admin Interface
  mongo-express:
    image: mongo-express
    container_name: emarket_mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
    depends_on:
      - mongo
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
